section, div 
{
    position: relative;
}
.container-fluid
{
    background-color: #f0f0f0;
}
agm-map
{
    height: 600px;
    min-height: 600px;
}
img.logo
{
    position: absolute;
    mix-blend-mode: multiply;
    // opacity: .85;
    top: 0;
    right: 0;
    z-index: 100;
    width: 55px;
}
section.streets-container
{
    margin-right: -5px;
}
ul.list-group
{
    height: 95%;
    overflow-y: scroll;

    // border: 1px solid #a0bdcf;
    border-radius: 4px;
    box-shadow: 3px 3px 6px #e2e2e2;
    
    li.list-group-item
    {
        padding-top: 5px;
        padding-bottom: 5px;
    
        cursor: pointer;
    
        &:hover
        {
            background-color: rgba(175, 211, 241, 0.5);
        }
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    &::-webkit-scrollbar:vertical {
        width: 20px;
    }
    
    &::-webkit-scrollbar:horizontal {
        display: none;
        height: 11px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 1px solid #dd6900;
        background-color: rgba(0, 0, 0, .5);
    }
    
    &::-webkit-scrollbar-track { 
        background-color: #f0f0f0; 
        border-width: 0;
        border-radius: 8px; 
    }
}
button.quiz-next
{
    width: 100%;
}
.street-col
{
    padding-left: 5px;
    padding-right: 5px;
}
.map-col
{
    padding: 0 0 0 1px;
}