<div class="container-fluid mr-0">
  <img src="assets/newmarket.png" class="img logo" />
  <div class="row" [style.height]="'100%'">
    <div class="col-12 col-sm-4 col-lg-3 mt-2 mb-1 street-col">
      <div class="form-row align-items-center">
        <div class="col-auto">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-fw fa-filter"></i></div>
            </div>
            <input type="text" class="form-control" name="search" [disabled]="quizMode" [(ngModel)]="search" [ngModelOptions]="{debounce: 300}" placeholder="Filter Streets">
            <div class="input-group-append">
                <div class="input-group-button" [hidden]="!search">
                  <button class="btn btn-link btn-xs" (click)="search=''"><i class="fa fa-fw fa-times-circle text-danger"></i></button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': !quizMode}" (click)="quizMode=false" href="javascript:void(0)"><i class="fa fa-fw fa-map-marked-alt"></i> Streets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': quizMode}" (click)="quizMode=true" href="javascript:void(0)"><i class="fa fa-fw fa-question-circle"></i> Quiz</a>
        </li>
      </ul>
      <section #streetsContainer class="streets-container">
        <ul class="list-group" [style.height.px]="streetsHeight">
          <li class="list-group-item" [ngClass]="{ 'active': street == selectedStreet }" *ngFor="let street of filteredStreets" (click)="setStreet(street)">
            {{ street }}
          </li>
          <li class="list-group-item" *ngIf="quizMode" (click)="setStreet(quizStreet)">
            <div class="mt-2 mb-2">{{ quizStreet }}</div>
          </li>
          <section *ngIf="quizMode">
            <hr />
            <button class="btn btn-success quiz-next mb-2" (click)="generateQuizStreet()">Next <i class="fa fa-fw fa-arrow-circle-right"></i></button>
          </section>      
        </ul>
      </section>
    </div>
    <div class="col col-sm-8 col-lg-9 map-col">
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <section #mapContainer class="map-container" [style.height.px]="mapHeight">
        <agm-map [style.height]="'100%'" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
          <agm-marker *ngIf="selectedStreet" [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </section>
    </div>
  </div>
</div>